.avatar {
    position: relative;
    z-index: 2;
}
.avatar-image {
    transition: opacity linear .3s;
    cursor: pointer;
    z-index: 2;
}
.avatar-image:hover {
    opacity: 0.5;
}
.addButton {
    font-size: 64px;
    position: absolute;
    top: 33%;
    left: 45%;
    z-index: 1;
}
